.profilewrpper {
    /* padding-left: 5rem; */
    z-index: 999;
    margin: 0;
}


/* .center {
    align-items: center;
} */

.cover {
    height: 350px;
    width: 60rem;
    border-radius: 20px;
    background-color: antiquewhite;
    align-items: center;
}

.userdp {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    flex: 0;
}

.dp {
    display: flex;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 1050px;
}

.ok {
    display: flex;
    align-items: center;
}

.area {
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #ececec;
    display: flex;
}

.side {
    flex: 1;
    padding-left: 260px;
}

.lside {
    flex: 0;
}

@media (max-width:1024px) {
    .cover {
        position: relative;
        left: 10rem;
    }
}